@font-face {
  font-family: 'SantElia Script Bold DMO';
  src: url('../fonts/SantEliaScriptBoldDEMO.otf') format('OpenType');
}
@font-face {
  font-family: 'SantElia Rough Alt Bold ThrDMO';
  src: url('../fonts/SantEliaRoughAltBoldThrDEMO.otf') format('OpenType');
}
* {
  box-sizing: border-box;
}
body {
  width: 100%;
  background-color: #ffffff;
}
.header {
  height: 100vh;
  width: 100%;
  position: relative;
}
.item,
.item2 {
  height: 100vh;
  background-image: url(../img/bg/heroimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}
.item2 {
  background-position: top center;
}
@media (min-width: 1024px) {
  .item {
    background-position: center;
  }
}
.item2 {
  background-image: url(../img/bg/parallaximage.jpg);
}
.header .owl-carousel .owl-dots {
  position: absolute;
  right: 50%;
  bottom: 0;
  transform: translateX(50%);
  margin-bottom: 30px;
}
.header .owl-carousel .owl-dots .owl-dot.active span {
  width: 18px;
  height: 18px;
  background-color: #ffffff;
}
.header .owl-carousel .owl-dots .owl-dot span {
  width: 18px;
  height: 18px;
  border: 1px solid #ffffff;
  background: inherit;
}
.header-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  padding: 15px;
}
@media (min-width: 1024px) {
  .header-content {
    padding: 0px;
  }
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.header-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
}
@media (min-width: 1024px) {
  .header-links {
    padding-top: 60px;
  }
}
.header-links__logo {
  color: #e9e5db;
  font-family: 'Lobster', cursive;
  font-size: 30px;
  text-decoration: none;
  transition: all 0.1s ease-in;
}
.header-links__logo:hover {
  filter: drop-shadow(0px 0px 7px #ffffff);
}
.header-links-list {
  display: flex;
  list-style-type: none;
}
.header-links__item {
  transition: all 0.1s ease-in;
  margin-right: 16px;
}
.header-links__item:last-child {
  margin-right: 0px;
}
.header-links__item:hover {
  filter: drop-shadow(0px 0px 7px #ffffff);
}
.header-desk {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.header-title {
  color: #e9e5db;
  font-family: 'SantElia Script Bold DMO';
  font-size: 42px;
  margin-bottom: 36px;
}
@media (min-width: 1024px) {
  .header-title {
    font-size: 72px;
  }
}
.header-subtitle {
  color: #e9e5db;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
@media (min-width: 1024px) {
  .header-subtitle {
    font-size: 30px;
  }
}

.about {
  height: 345px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  color: #3c3930;
}
.about__icon {
  margin-bottom: 35px;
}
.about-desk {
  display: flex;
  flex-direction: column;
}
.about__title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.about-desk p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 0.9px;
}

.slogan {
  height: 300px;
  background-image: url(./img/bg/Parallaximage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slogan__title {
  font-size: 30px;
  font-family: 'SantElia Script Bold DMO';
  color: #ffffff;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 2.25px;
  text-align: center;
}

.portfolio {
  margin: 50px 0;
}
.portfolio__icon {
  text-align: center;
  margin-bottom: 30px;
}
.portfolio__title {
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #3c3930;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 4.8px;
  text-align: center;
  margin-bottom: 50px;
}
.portfolio-pictures__row {
  display: flex;
  width: 240px;
  height: 200px;
  margin-bottom: 20px;
}
.portfolio-pictures__row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  margin-right: 13.33333333px;
}
.portfolio-pictures__row img:last-child {
  margin-right: 0;
}
.portfolio-pictures__large {
  margin-bottom: 20px;
}
.portfolio-pictures__large img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.portfolio-controls {
  height: 32px;
  display: flex;
  justify-content: space-between;
}
.portfolio-controls__arrow {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.portfolio-controls__arrow span {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  color: #3c3930;
  text-transform: uppercase;
  line-height: 1.2;
  padding: 0 25px;
}

.find {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.find__icon {
  margin-bottom: 30px;
}
.find__title {
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  color: #3c3930;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 30px;
}
.find-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.find-nav-list {
  display: flex;
}
.find-nav__item {
  margin-right: 40px;
}

.maps {
  height: 300px;
  background-image: url(./img/bg/map.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.maps__marker {
  position: absolute;
  left: 39%;
  top: 60%;
  transform: translate(-100%, -100%);
}

.contacts {
  height: auto;
  background-image: url(./img/bg/footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px 0;
  position: relative;
}
.contacts::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}
.contacts__title {
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 4px;
  margin-bottom: 60px;
  z-index: 9;
}
.submit {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.submit__input {
  width: 480px;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: #3c3930;
  opacity: 0.7;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  padding: 20px 15px;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 7;
}
.submit__input:nth-child(2) {
  margin-right: 0;
}
.submit__input:focus {
  outline: none;
}
.submit__area {
  width: 100%;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: #3c3930;
  opacity: 0.7;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  padding: 20px 15px;
  margin-bottom: 40px;
  z-index: 7;
}
.submit__area:focus {
  outline: none;
}
.submit__button {
  width: 400px;
  display: block;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  background: none;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  line-height: 1.2;
  letter-spacing: 5px;
  border: 2px solid #ffffff;
  padding: 10px 0;
  z-index: 7;
  margin-bottom: 60px;
}
.contacts__copyright {
  width: 680px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  line-height: 1.2;
  letter-spacing: 2px;
  border-top: 1px solid #ffffff;
  text-align: center;
  padding-top: 10px;
}

/*soft*/

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
