/* font-family: 'Lobster', cursive;
font-family: 'Lato', sans-serif; */

@font-face {
  font-family: "SantElia Script Bold DMO";
  src: url("./fonts/SantEliaScriptBoldDEMO.otf") format("OpenType");
}
@font-face {
  font-family: "SantElia Rough Alt Bold ThrDMO";
  src: url("./fonts/SantEliaRoughAltBoldThrDEMO.otf") format("OpenType");
}
* {
  box-sizing: border-box;
}
body {
  width: 100%;
  background-color: #ffffff;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
.header {
  height: 100vh;
  background-image: url(./img/bg/Heroimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-top: 55px;
}
.header-nav__logo {
  font-size: 30px;
  font-family: "Lobster", cursive;
  color: #e9e5db;
  text-decoration: none;
}
.header-nav-list {
  display: flex;
}
.header-nav__item {
  margin-right: 16px;
}
.header-nav__item:last-child {
  margin-right: 0px;
}
.header-desk {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 160px;
}
.header-title {
  color: #e9e5db;
  font-family: "SantElia Script Bold DMO";
  font-size: 72px;
}
.header-subtitle {
  color: #e9e5db;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.about {
  height: 345px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  color: #3c3930;
}
.about__icon {
  margin-bottom: 35px;
}
.about-desk {
  display: flex;
  flex-direction: column;
}
.about__title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.about-desk p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 0.9px;
}

.slogan {
  height: 300px;
  background-image: url(./img/bg/Parallaximage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slogan__title {
  font-size: 30px;
  font-family: "SantElia Script Bold DMO";
  color: #ffffff;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 2.25px;
  text-align: center;
}

.portfolio {
  margin: 50px 0;
}
.portfolio__icon {
  text-align: center;
  margin-bottom: 30px;
}
.portfolio__title {
  font-size: 24px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #3c3930;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 4.8px;
  text-align: center;
  margin-bottom: 50px;
}
.portfolio-pictures__row {
  display: flex;
  width: 240px;
  height: 200px;
  margin-bottom: 20px;
}
.portfolio-pictures__row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  margin-right: 13.33333333px;
}
.portfolio-pictures__row img:last-child {
  margin-right: 0;
}
.portfolio-pictures__large {
  margin-bottom: 20px;
}
.portfolio-pictures__large img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.portfolio-controls {
  height: 32px;
  display: flex;
  justify-content: space-between;
}
.portfolio-controls__arrow {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.portfolio-controls__arrow span {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: #3c3930;
  text-transform: uppercase;
  line-height: 1.2;
  padding: 0 25px;
}

.find {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.find__icon {
  margin-bottom: 30px;
}
.find__title {
  font-size: 24px;
  font-family: "Lato", sans-serif;
  color: #3c3930;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 30px;
}
.find-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.find-nav-list {
  display: flex;
}
.find-nav__item {
  margin-right: 40px;
}

.contacts {
  height: 642px;
  background-image: url(./img/bg/footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.contacts__title {
  font-size: 24px;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 60px;
}
/*soft*/
.none {
  display: none;
}
